body{
  background-color: green;  
  font-family: 'Trebuchet MS', 'sans-serif','Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
}

h1{
  color:goldenrod;
  text-align: center;
}
#message-el{
  color: white;
  text-align: center;
  font-size: 18px;
  font-style: italic;
}

p{
  color: white;
  text-align: center;
  font-size: 16px;
}

button{
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  font-size: 16px;
  background-color: goldenrod;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}